<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>rocket_0deg1.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{294,294}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{294,294}}</string>
        <key>sourceSize</key>
        <string>{295,295}</string>
      </dict>
      <key>rocket_0deg2.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{294,294}}</string>
        <key>offset</key>
        <string>{0.5,0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{294,294}}</string>
        <key>sourceSize</key>
        <string>{295,295}</string>
      </dict>
      <key>rocket_0deg3.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,588},{294,294}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{294,294}}</string>
        <key>sourceSize</key>
        <string>{294,294}</string>
      </dict>
      <key>rocket_0deg4.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,0},{294,294}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{294,294}}</string>
        <key>sourceSize</key>
        <string>{295,294}</string>
      </dict>
      <key>rocket_0deg5.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,0},{294,294}}</string>
        <key>offset</key>
        <string>{0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,0},{294,294}}</string>
        <key>sourceSize</key>
        <string>{295,294}</string>
      </dict>
      <key>rocket_0deg6.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,294},{294,294}}</string>
        <key>offset</key>
        <string>{0,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,1},{294,294}}</string>
        <key>sourceSize</key>
        <string>{294,295}</string>
      </dict>
      <key>rocket_0deg7.png</key>
      <dict>
        <key>frame</key>
        <string>{{294,588},{294,294}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{294,294}}</string>
        <key>sourceSize</key>
        <string>{295,295}</string>
      </dict>
      <key>rocket_0deg8.png</key>
      <dict>
        <key>frame</key>
        <string>{{588,294},{294,294}}</string>
        <key>offset</key>
        <string>{0.5,-0.5}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{1,1},{294,294}}</string>
        <key>sourceSize</key>
        <string>{295,295}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>rocket.png</string>
      <key>size</key>
      <string>{882,882}</string>
      <key>textureFileName</key>
      <string>rocket</string>
    </dict>
  </dict>
</plist>
